/* NAVBAR/ HEADER */
.navbar{
   border: 2px solid #262626;
   margin: 4px;
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    text-decoration-color: #262626;
    background-color: #88bde4;
}
.searchbar{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
  bottom: 1px;
}
 a {
  text-decoration: none;
  color:#262626;
 }
body{
background-image: url("./pig pics/sky3.jpg");
background-size: cover;
}

.headerlogo{
    float:left;
    height: 70px;
    width: 100px;
}
h1.header{
   border: 4px solid black;
   margin: 3px;
   padding: 3px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 60px;
    text-align: center;
    background-color: whitesmoke;
}
*{
 margin: 0px;
 padding: 0%;
}
/* LOGO AND HOME PAGE */
.logo{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
    text-align: center;
    background-color: #88bde4;
    border-radius: 25px;
    border: 2px solid #262626;
    /* width: 360px;
    height: 240px; */
}
 .hometext{ 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    margin: 33px;
}

/* LOGO AND HOME PAGE MEDIA QUERY*/
@media only screen and (max-width: 480px) {
    .headerlogo {
            float: left;
            height: 35px;
            width: 50px;
        }
    .logo{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
        text-align: center;
        background-color: #88bde4;
        border-radius: 25px;
        border: 2px solid #262626;
        width: 360px;
        height: 240px; 
    }
    .hometext{ 
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 25px;
        margin: 33px;
 }

}

/* FOOTER FOR ALL PAGES EXCEPT GALLERY */
footer{

   left: 0;
   bottom: 0;
    text-align:center;
    border: 2px solid #262626;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}
/* FOOTER FOR GALLERY */
.gridfooter {
    width: 250%;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 2px solid #262626;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
}

/* HEADING */
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 45px;
     text-align: center;
 }

 /* REVIEW CSS */
.testamonialcontainer{
    border: 2px solid #262626;
    background-color: #88bde4;
    height: 500px;
}
 .container {
    text-align: center;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
    width: 500px;
    height: 70px;
  }
  
  
  .container span {
    font-size: 30px;
    margin-right: 15px;
  }
 .container p {
    font-size: 20px;
 }
  .c1 {
    display: inline-block;
  }


  .c2 {
    float: right;
  }

  .reviewbox{
    border: 2px solid #262626;
  }
/* REVIEW/TESTIMONIAL MEDIA QUERY */
@media only screen and (max-width: 480px) {
.testamonialcontainer{
    border: 2px solid #262626;
    background-color: #88bde4;
   
}
 .container {
    justify-content: center;
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
     padding: 5px;
    margin: 4px; 
    width: 95%;
     height: 70px;
  }
 

  .reviewbox{
    border: 2px solid #262626;
  }
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  .c1 {
    display: block;
  }


  .extra{
    display: none;
  }
  .reviewhead {
    font-size: 30px;
  }
}
/* ORDER FORM CSS */
.fieldhead {
    text-align: center;
    margin: 10px;
    background-color: #88bde4;
        list-style: none;
}

legend {
    text-align: center;
    border: 2px solid #262626;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: #262626;
    margin: 5px;
    background-color: #88bde4;

}
/* MEDIA QUERY FOR ORDER FORM */
@media only screen and (max-width: 480px) {
    .fieldhead {
            margin: 10px;
            background-color: #88bde4;
            color: black;
        } 
  
    legend {
            border: 2px solid #262626;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 20px;
            color: #262626;
            margin: 5px;
            background-color: #88bde4;
        }
}
/*MEDIA QUERY FOR ALL PAGE HEADERS*/
@media only screen and (max-width: 480px) {
    
        .navbar{
            border: 2px solid #262626;
            margin: 4px;
             font-size: small;
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
             display: flex;
             justify-content: space-evenly;
             text-decoration: none;
             text-decoration-color: #262626;
             background-color: #88bde4;
         }
         .searchbar{
             font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
             position: relative;
           bottom: 0px;
         }
          a {
           text-decoration: none;
           color:#262626;
          }
         body{
         background-image: url("./pig pics/sky3.jpg");
         background-size: cover;
         }
         
         
         h1.header{
            border: 4px solid black;
            margin: 3px;
            padding: 3px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
             text-align: center;
             background-color: whitesmoke;
         }
}
/* GALLERY CSS */

.png1{
    grid-area: png1;
    height: 20rem;
    width: 30rem;
}
.png2{
    grid-area: png2;
    height: 20rem;
        width: 30rem;
}
.png3{
    grid-area: png3;
    height: 20rem;
        width: 30rem;
}
.png4{
    grid-area: png4;
    height: 40rem;
        width: 100rem;
        transform: scale(.5,1);
}
.png5{
    grid-area: png5;
    height: 20rem;
        width: 30rem;
}
.png6{
    grid-area: png6;
    height: 20rem;
        width: 30rem;
}
.png7{
    grid-area: png7;
    height: 20rem;
        width: 30rem;
}




.gallery {
    display: grid;
    gap: 10px;
    width: auto;
    height: auto;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
"png1 png2 png3"
"png4 png4 png4 "
"png5 png6 png7";

}

/* GALLERY CSS MEDIA QUERY */
@media only screen and (max-width: 480px) {
    p {

        color: black;
    }



    .png1 {
        grid-area: png1;


    }

    .png2 {
        grid-area: png2;

    }

    .png3 {
        grid-area: png3;

    }

    .png4 {
        grid-area: png4;
float: left;
height: 480px;
/* width: 320px; */
transform: scale(1);
transform: scaleX(.3);
justify-content: start;
display: none;
    }

    .png5 {
        grid-area: png5;

    }

    .png6 {
        grid-area: png6;

    }

    .png7 {
        grid-area: png7;

    }
.gridfooter {
    width:auto;
    left: 0;
    bottom: 0;
    text-align: center;
    border: 2px solid #262626;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    grid-area: gridfooter;
}



    .gallery {
        display: grid;
        gap: 1px;
        width: auto;
        height: auto;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(8, auto);
        grid-template-areas:
            "png1"
            "png2"
            "png3"
            "png4"
            "png5"
            "png6"
            "png7"
            "gridfooter" ;
        }
}
/* video + directions css*/

video{
    border: #262626;
    border-width: 10px;
}

.center{
    text-align: center;
}


